<section class="profile">
    <div class="profile__container container">
      <div class="row">

        <div class="col-12 col-lg-3">
          <div class="profile__pictures">
            <div class="profile__pictures__main">
              <img src="{{storage_url(_themeHome ~ '/assets/img/profile-pic-lrg.png')}}" alt="">
            </div>
            <div class="profile__pictures__main-add">
              <button>
                <span>
                  <img src="{{storage_url(_themeHome ~ '/assets/img/icon--camera.png')}}" alt="">
                </span>
                Add profile picture</button>
            </div>

            <h5>Public Photos</h5>
            <div class="profile__pictures__sidebar">
              <div class="profile__pictures__sidebar__img">
                <button class="profile__pictures__delete__button">
                  X
                </button>
                <img src="{{storage_url(_themeHome ~ '/assets/img/profile-pic-lrg.png')}}" alt="">
              </div>
              <div class="profile__pictures__sidebar__add">
                <button>
                  <span>
                    <img src="{{storage_url(_themeHome ~ '/assets/img/icon--plus.png')}}" alt="">
                  </span>
                  Add photos
                </button>
              </div>
            </div>

            <h5>Private photos</h5>
            <div class="profile__pictures__sidebar">
              <div class="profile__pictures__sidebar__add">
                <button>
                  <span>
                    <img src="{{storage_url(_themeHome ~ '/assets/img/icon--plus.png')}}" alt="">
                  </span>
                  Add photos
                </button>
              </div>
            </div>

            
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="profile__info">
            <form class="profile__info-form" action="">

            
            <div class="profile__info__header">
              <div class="profile__info__name">
                <span class="status"></span>
                <h4><strong>User name</strong>, 35</h4>
                <span class="location">
                  <img src="{{storage_url(_themeHome ~ '/assets/img/icon--location.png')}}" alt="">
                  <em>Barcelona</em>
                </span>
              </div>
              <div class="profile__info__save">
                <button class="button button-small">
                  Save changes
                </button>
              </div>
            </div>

            <div class="profile__info__body">
              <div class="profile__info__details">

                <div class="form-element stacked">
                  <div class="form-label">
                    <label for="email">
                      Bio
                    </label>
                  </div>
                  <div class="form-input">
                    <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
                  </div>
                </div>

                <div class="form-element__row">
                  <div class="form-element stacked">
                    <div class="form-label">
                      <label for="email">
                        Email
                      </label>
                    </div>
                    <div class="form-input">
                      <input class="form-control" type="email" name="email">
                    </div>
                  </div>
                  <div class="form-element stacked">
                    <div class="form-label">
                      <label for="email">
                        Country
                      </label>
                    </div>
                    <div class="form-input">
                      <div class="form__select">
                                        
                        <label class="select" for="slct">
                          <select class="form-control" id="slct" required="required">
                            <option value="" disabled="disabled" selected="selected">Select option</option>
                            <option value="#">One</option>
                            <option value="#">Two</option>
                            <option value="#">Three</option>
                            <option value="#">Four</option>
                            <option value="#">Five</option>
                            <option value="#">Six</option>
                            <option value="#">Seven</option>
                          </select>
                          <svg>
                            <use xlink:href="#select-arrow-down"></use>
                          </svg>
                        </label>
                        <!-- SVG Sprites-->
                        <svg class="sprites">
                          <symbol id="select-arrow-down" viewbox="0 0 10 6">
                            <polyline points="1 1 5 5 9 1"></polyline>
                          </symbol>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-element__row">
                  <div class="form-element stacked">
                    <div class="form-label">
                      <label for="email">
                        Email
                      </label>
                    </div>
                    <div class="form-input">
                      <input class="form-control" type="email" name="email">
                    </div>
                  </div>
                  <div class="form-element stacked">
                    <div class="form-label">
                      <label for="email">
                        Country
                      </label>
                    </div>
                    <div class="form-input">
                      <div class="form__select">
                                        
                        <label class="select" for="slct">
                          <select class="form-control" id="slct" required="required">
                            <option value="" disabled="disabled" selected="selected">Select option</option>
                            <option value="#">One</option>
                            <option value="#">Two</option>
                            <option value="#">Three</option>
                            <option value="#">Four</option>
                            <option value="#">Five</option>
                            <option value="#">Six</option>
                            <option value="#">Seven</option>
                          </select>
                          <svg>
                            <use xlink:href="#select-arrow-down"></use>
                          </svg>
                        </label>
                        <!-- SVG Sprites-->
                        <svg class="sprites">
                          <symbol id="select-arrow-down" viewbox="0 0 10 6">
                            <polyline points="1 1 5 5 9 1"></polyline>
                          </symbol>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-element__row">
                  <div class="form-element stacked">
                    <div class="form-label">
                      <label for="email">
                        Email
                      </label>
                    </div>
                    <div class="form-input">
                      <input class="form-control" type="email" name="email">
                    </div>
                  </div>
                  <div class="form-element stacked">
                    <div class="form-label">
                      <label for="email">
                        Country
                      </label>
                    </div>
                    <div class="form-input">
                      <div class="form__select">
                                        
                        <label class="select" for="slct">
                          <select class="form-control" id="slct" required="required">
                            <option value="" disabled="disabled" selected="selected">Select option</option>
                            <option value="#">One</option>
                            <option value="#">Two</option>
                            <option value="#">Three</option>
                            <option value="#">Four</option>
                            <option value="#">Five</option>
                            <option value="#">Six</option>
                            <option value="#">Seven</option>
                          </select>
                          <svg>
                            <use xlink:href="#select-arrow-down"></use>
                          </svg>
                        </label>
                        <!-- SVG Sprites-->
                        <svg class="sprites">
                          <symbol id="select-arrow-down" viewbox="0 0 10 6">
                            <polyline points="1 1 5 5 9 1"></polyline>
                          </symbol>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
                
                <hr>

                <div class="form-element stacked">
                  <div class="form-label">
                    <label for="traits">Traits</label>
                  </div>
                  <div class="form-input">
                    <div class="checkbox-group">
                      
                        <ul class="ks-cboxtags">
        
                          <li>
                            <input type="checkbox" id="traits-checkboxOne" value="honest" checked><label for="traits-checkboxOne">honest</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="traits-checkboxTwo" value="shy"><label for="traits-checkboxTwo">shy</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="traits-checkboxThree" value="loyal" checked><label for="traits-checkboxThree">loyal</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="traits-checkboxFour" value="funny"><label for="traits-checkboxFour">funny</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="traits-checkboxFive" value="caring"><label for="traits-checkboxFive">caring</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="traits-checkboxSix" value="kind" ><label for="traits-checkboxSix">kind</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="traits-checkboxSeven" value="calm"><label for="traits-checkboxSeven">calm</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="traits-checkboxEight" value="adventureous"><label for="traits-checkboxEight">adventureous</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="traits-checkboxNine" value="moody"><label for="traits-checkboxNine">moody</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="traits-checkboxTen" value="spontaenous"><label for="traits-checkboxTen">spontaneous</label>
                          </li>
                          
                          <li 
                          class="ks-selected"><input type="checkbox" id="traits-checkboxEleven" value="curious"><label for="traits-checkboxEleven">curious</label>
                        </li>
                        
                          <li>
                            <input type="checkbox" id="traits-checkboxTwelve" value="confident"><label for="traits-checkboxTwelve">confident</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="traits-checkboxThirteen" value="thoughtful"><label for="traits-checkboxThirteen">thoughtful</label>
                          </li>
                                            
                        </ul>
                      
                      
                    </div>
                  </div>
                </div>

                <div class="form-element stacked">
                  <div class="form-label">
                    <label for="traits">Traits</label>
                  </div>
                  <div class="form-input">
                    <div class="checkbox-group">
                      
                      <ul class="ks-cboxtags">
  
                        <li>
                          <input type="checkbox" id="interests-checkboxOne" value="art"><label for="interests-checkboxOne">🖼 art</label>
                        </li>
                        
                        <li>
                          <input type="checkbox" id="interests-checkboxTwo" value="travel" ><label for="interests-checkboxTwo">✈️ travel</label>
                        </li>
                        
                        <li>
                          <input type="checkbox" id="interests-checkboxThree" value="sports" checked><label for="interests-checkboxThree">⚽ sports</label>
                        </li>
                        
                        <li>
                          <input type="checkbox" id="interests-checkboxFour" value="music" checked><label for="interests-checkboxFour">🎵 music</label>
                        </li>
                        
                        <li>
                          <input type="checkbox" id="interests-checkboxFive" value="photography"><label for="interests-checkboxFive">📷 photography</label>
                        </li>
                        
                        <li>
                          <input type="checkbox" id="interests-checkboxSix" value="cooking" checked><label for="interests-checkboxSix">🍳 cooking</label>
                        </li>
                        
                        <li>
                          <input type="checkbox" id="interests-checkboxSeven" value="movies"><label for="interests-checkboxSeven">🎥 movies</label>
                        </li>
                        
                        <li>
                          <input type="checkbox" id="interests-checkboxEight" value="technology"><label for="interests-checkboxEight">💻 technology</label>
                        </li>
                        
                        <li>
                          <input type="checkbox" id="interests-checkboxNine" value="books"><label for="interests-checkboxNine">📖 books</label>
                        </li>
                        
                        <li>
                          <input type="checkbox" id="interests-checkboxTen" value="creativity"><label for="interests-checkboxTen">🎨 creativity</label>
                        </li>
                        
                        <li 
                        class="ks-selected"><input type="checkbox" id="interests-checkboxEleven" value="fashion"><label for="interests-checkboxEleven">👟 fashion</label>
                      </li>
                             
                      </ul>
                      
                      
                    </div>
                  </div>
                </div>

                <hr>

                <div class="form-element stacked">
                  <div class="form-label">
                    <label for="goals">Goals</label>
                  </div>
                  <div class="form-input">
                    <div class="checkbox-group">
                      
                        <ul class="ks-cboxtags">
        
                          <li>
                            <input type="checkbox" id="goals-checkboxOne" value="new-experience" checked><label for="goals-checkboxOne">new experience</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="goals-checkboxTwo" value="fun-time"><label for="goals-checkboxTwo">fun time</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="goals-checkboxThree" value="some-attention" ><label for="goals-checkboxThree">some attention</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="goals-checkboxFour" value="sex"><label for="goals-checkboxFour">sex</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="goals-checkboxFive" value="deep-connection"><label for="goals-checkboxFive">deep connection</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="goals-checkboxSix" value="family" ><label for="goals-checkboxSix">family</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="goals-checkboxSeven" value="something-casual"><label for="goals-checkboxSeven">something casual</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="goals-checkboxEight" value="marriage"><label for="goals-checkboxEight">marriage</label>
                          </li>
                          
                          <li>
                            <input type="checkbox" id="goals-checkboxNine" value="other"><label for="goals-checkboxNine">other</label>
                          </li>
                          
                         
                                            
                        </ul>
                      
                      
                    </div>
                  </div>
                </div>

                <div class="form-element stacked">
                  <div class="form-label">
                    <label for="range">Age Range</label>
                  </div>
                  <div class="form-input">
                    <div class="peoples__filter-range">

                      <div class="peoples__filter-range__label">
                        Age
                      </div>
      
                      <div class="range_container">
                        <div class="sliders_control">
                           <input id="fromSlider" type="range" value="18" min="18" max="90"/>
                           <input id="toSlider" type="range" value="90" min="18" max="90"/>
                        </div>
                        <div class="form_control">
                          <div class="form_control_container">
                              <input class="form_control_container__time__input" type="hidden" id="fromInput" value="18" min="18" max="90" disabled/>
                            </div>
                            <div class="form_control_container">
                              <input class="form_control_container__time__input" type="hidden" id="toInput" value="90" min="18" max="90" disabled/>
                            </div>
                        </div>
                      </div>
      
                      <div class="peoples__filter-range__numbers">
                        <span class="range-min"></span>
                        -
                        <span class="range-max"></span>
                      </div>
      
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </form>
          </div>
        </div>

        <div class="col-12 col-lg-3">

          <div class="profile__sidebar">
            <div class="profile__sidebar__header">
              Get Credits
            </div>
            <div class="profile__sidebar__body">
              <div class="profile__power-ups">
                <ul>
                  <li>
                    <img src="{{storage_url(_themeHome ~ '/assets/img/icon--check.png')}}" alt="">
                    Message in chats</li>
                </ul>
              </div>
              <button class="button button-small">
                Get Credits
              </button>
            </div>
          </div>

          <div class="profile__sidebar">
            <div class="profile__sidebar__header">
              Your Activity
            </div>
            <div class="profile__sidebar__body">
              
              <div class="profile__activity">
                <ul>
                  <li>
                    <span>Chats</span>
                    <span>3</span>
                  </li>
                  <li>
                    <span>Mails</span>
                    <span>3</span>
                  </li>
                </ul>
              </div>

              <button class="button button-small">
                Get Credits
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>